<section>
  <!-- Login 36 start -->
  <div class="login">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 login-bg-img">
          <div class="info clearfix">
            <div class="name_wrap" style="text-align: center">
              <h1><span>Welcome</span></h1>
              <h1>HTS ERP and CRM Solutions</h1>
            </div>
          </div>
        </div>
        <div class="col-lg-5 form-section">
          <div class="form-inner">
            <a href="login.html" class="logo">
              <img
                src="https://static.htsbusiness.com/assets/images/inner-images/logo.png"
                alt="logo"
              />
            </a>

            <!-- show info/erro messages -->
            <div *ngIf="requestFailureMsg" class="modal-title border-bottom-0">
              <p>
                <ngb-alert [dismissible]="false" type="danger">
                  {{ requestFailureMsg }}
                </ngb-alert>
              </p>
            </div>
            <div *ngIf="requestSuccessMsg" class="modal-title border-bottom-0">
              <p>
                <ngb-alert [dismissible]="false" type="success">
                  {{ requestSuccessMsg }}
                </ngb-alert>
              </p>
            </div>
            <!-- Show OTP request form if OTP is not sent already -->
            <div *ngIf="isOtpSent && !passwordSubmissionSuccessful">
              <h3>Reset Password</h3>
              <form
                [formGroup]="passwordSubmissionForm"
                (ngSubmit)="submitPassword()"
              >
                <div class="form-group form-box">
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Email ID / User ID"
                    aria-label="Email Address"
                    formControlName="loginName"
                  />
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="form-group form-box">
                  <input
                    type="text"
                    name="otp"
                    class="form-control"
                    placeholder="OTP"
                    aria-label="OTP"
                    formControlName="otp"
                  />
                  <i class="fas fa-unlock-alt"></i>
                </div>
                <div class="form-group form-box">
                  <input
                    type="password"
                    name="New Password"
                    class="form-control"
                    placeholder="New Password"
                    aria-label="New Password"
                    formControlName="password"
                  />
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <div class="form-group form-box">
                  <input
                    type="password"
                    name="Retype Password"
                    class="form-control"
                    placeholder="Retype Password"
                    aria-label="Retype Password"
                    formControlName="retypePassword"
                  />
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn-md btn-theme w-100">
                    Reset Password
                  </button>
                </div>
                <!-- <div class="extra-login form-group clearfix">
                    <span>Or Login With</span>
                </div> -->
                <div class="clearfix"></div>
                <!-- <ul class="social-list clearfix">
                    <li><a href="#" class="facebook-bg">Facebook</a></li>
                    <li><a href="#" class="twitter-bg">Twitter</a></li>
                    <li><a href="#" class="google-bg">Google</a></li>
                </ul> -->
              </form>
            </div>
            <div *ngIf="!isOtpSent">
              <h3>Recover Your Password</h3>
              <form [formGroup]="otpRequestForm" (ngSubmit)="requestOtp()">
                <div class="form-group form-box">
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Email Address"
                    aria-label="Email Address"
                    formControlName="loginName"
                  />
                  <!-- <i class="flaticon-mail-2"></i> -->
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <!--div class="form-group form-box">
                  <select class="form-select" aria-label="Default select example">
                    <option selected="">Select Field</option>
                    <option value="1">Parent</option>
                    <option value="2">Admin</option>
                  </select>
                </div-->
                <div class="form-group">
                  <button type="submit" class="btn-md btn-theme w-100">
                    Submit
                  </button>
                </div>
                <div class="clearfix"></div>
                <!-- <ul class="social-list clearfix">
                    <li><a href="#" class="facebook-bg">Facebook</a></li>
                    <li><a href="#" class="twitter-bg">Twitter</a></li>
                    <li><a href="#" class="google-bg">Google</a></li>
                </ul> -->
              </form>
            </div>
            <div class="clearfix"></div>
            <p>
              Already a member?
              <a [routerLink]="['/public/login']">Login here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Login 36 end -->
</section>
