<section>
  <div class="container1 dashboard-inner-pages">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <!--User Actions - Start-->
            <div
              ngbDropdown
              class="d-inline-block"
              style="float: right"
              *ngIf="showUserActions()"
            >
              <button
                type="button"
                class="btn btn-outline-primary"
                ngbDropdownToggle
              >
                Actions
              </button>
              <div ngbDropdownMenu>
                <button
                  ngbDropdownItem
                  *ngIf="isUploadProfilePictureEnabled"
                  (click)="
                    openUploadProfilePicturePopup(uploadProfilePicturePopup)
                  "
                >
                  Upload Profile Picture
                </button>
                <button
                  ngbDropdownItem
                  *ngIf="isUpdateProfileDetailsSSApplicationUserEnabled"
                  (click)="
                    openUpdateProfileDetailsSSApplicationUserPopup(
                      updateProfileDetailsSSApplicationUserPopup
                    )
                  "
                >
                  Update Profile Details
                </button>
                <button
                  ngbDropdownItem
                  *ngIf="isUpdateContactNoSSApplicationUserEnabled"
                  (click)="
                    openUpdateContactNoSSApplicationUserPopup(
                      updateContactNoSSApplicationUserPopup
                    )
                  "
                >
                  Update
                </button>
                <button
                  ngbDropdownItem
                  *ngIf="isUpdateEmailSSApplicationUserEnabled"
                  (click)="
                    openUpdateEmailSSApplicationUserPopup(
                      updateEmailSSApplicationUserPopup
                    )
                  "
                >
                  Update
                </button>
                <button
                  ngbDropdownItem
                  *ngIf="isUpdatePasswordSSApplicationUserEnabled"
                  (click)="
                    openUpdatePasswordSSApplicationUserPopup(
                      updatePasswordSSApplicationUserPopup
                    )
                  "
                >
                  Update
                </button>
                <ng-container *ngFor="let userAction of userActions">
                  <button
                    ngbDropdownItem
                    (click)="executeUserAction(userAction.actionName)"
                  >
                    {{ userAction.actionLabel }}
                  </button>
                </ng-container>
              </div>
            </div>
            <!--User Actions - End-->
          </div>
        </div>
      </div>

      <!--BEGIN SECTIONS-->
      <div
        class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
        *ngIf="sectionsShowHideInfo.enableRetrieveApplicationUserSection"
      >
        <div class="card">
          <div class="card-body">
            <h2>Application User</h2>
            <ng-container
              *ngFor="let pageField of retrieveApplicationUserFieldList"
            >
              <div class="row {{ pageField.displayClassName }}">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <div class="invoicelist-inner">
                    <label class="form-label"
                      ><b>{{ pageField.label }}</b></label
                    >
                  </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                  <div class="invoicelist-inner">
                    <app-dynamic-field-display
                      [pageField]="pageField"
                      [dataObject]="retrievedDataObject"
                    ></app-dynamic-field-display>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <!--END SECTIONS-->
      <!--BEGIN LINE_ITEMS-->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body"></div>
        </div>
      </div>
      <!--END LINE_ITEMS-->
    </div>
    <div style="display: flex; justify-content: space-between; gap: 8px"></div>
  </div>
</section>

<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<ng-template #uploadProfilePicturePopup let-modal>
  <div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
      <h2 id="upload-profile-picture-modal-title">Upload Profile Picture</h2>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body" id="upload-profile-picture-modal-body">
      <section>
        <div class="container1">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="card-body">
                  <app-child-section-form
                    [childSectionRowFieldsCount]="1"
                    [pageComponentReference]="pageComponentReference"
                    [childSectionFields]="uploadProfilePictureSectionFields"
                    [childSectionData]="uploadProfilePictureSectionData"
                    [childSectionSelectOptionsData]="
                      uploadProfilePictureSelectOptionsData
                    "
                    [childSectionSearchResponseListObject]="
                      uploadProfilePictureSelectedLookupsDataListObj
                    "
                  ></app-child-section-form>
                </div>
              </div>
            </div>
          </div>
          <div class="align-items-center mb-2 gap-3">
            <div class="m-auto mt-3" style="float: right">
              <a
                href="javascript:;"
                class="btn radius-30 mt-2 mt-lg-0"
                (click)="modal.dismiss()"
                >Cancel</a
              >
              <a
                style="float: right"
                href="javascript:;"
                class="btn btn-success pull-right m-l-20"
                (click)="uploadProfilePicture(modal)"
                >Save</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-template>
<!-- ************** popup  - end ************ -->
<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<ng-template #updateProfileDetailsSSApplicationUserPopup let-modal>
  <div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
      <h2 id="update-profile-details-ss-application-user-modal-title">
        Update Profile Details
      </h2>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div
      class="modal-body"
      id="update-profile-details-ss-application-user-modal-body"
    >
      <section>
        <div class="container1">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="card-body">
                  <app-child-section-form
                    [childSectionRowFieldsCount]="1"
                    [pageComponentReference]="pageComponentReference"
                    [childSectionFields]="
                      updateProfileDetailsSSApplicationUserSectionFields
                    "
                    [childSectionData]="
                      updateProfileDetailsSSApplicationUserSectionData
                    "
                    [childSectionSelectOptionsData]="
                      updateProfileDetailsSSApplicationUserSelectOptionsData
                    "
                    [childSectionSearchResponseListObject]="
                      updateProfileDetailsSSApplicationUserSelectedLookupsDataListObj
                    "
                  ></app-child-section-form>
                </div>
              </div>
            </div>
          </div>
          <div class="align-items-center mb-2 gap-3">
            <div class="m-auto mt-3" style="float: right">
              <a
                href="javascript:;"
                class="btn radius-30 mt-2 mt-lg-0"
                (click)="modal.dismiss()"
                >Cancel</a
              >
              <a
                style="float: right"
                href="javascript:;"
                class="btn btn-success pull-right m-l-20"
                (click)="updateProfileDetailsSSApplicationUser(modal)"
                >Save</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-template>
<!-- ************** popup  - end ************ -->
<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<ng-template #sendOtpForNewContactNumberSSApplicationUserPopup let-modal>
  <div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
      <h2 id="send-otp-for-new-contact-number-ss-application-user-modal-title">
        Send Otp
      </h2>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div
      class="modal-body"
      id="send-otp-for-new-contact-number-ss-application-user-modal-body"
    >
      <section>
        <div class="container1">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="card-body">
                  <app-child-section-form
                    [childSectionRowFieldsCount]="1"
                    [pageComponentReference]="pageComponentReference"
                    [childSectionFields]="
                      sendOtpForNewContactNumberSSApplicationUserSectionFields
                    "
                    [childSectionData]="
                      sendOtpForNewContactNumberSSApplicationUserSectionData
                    "
                    [childSectionSelectOptionsData]="
                      sendOtpForNewContactNumberSSApplicationUserSelectOptionsData
                    "
                    [childSectionSearchResponseListObject]="
                      sendOtpForNewContactNumberSSApplicationUserSelectedLookupsDataListObj
                    "
                  ></app-child-section-form>
                </div>
              </div>
            </div>
          </div>
          <div class="align-items-center mb-2 gap-3">
            <div class="m-auto mt-3" style="float: right">
              <a
                href="javascript:;"
                class="btn radius-30 mt-2 mt-lg-0"
                (click)="modal.dismiss()"
                >Cancel</a
              >
              <a
                style="float: right"
                href="javascript:;"
                class="btn btn-success pull-right m-l-20"
                (click)="sendOtpForNewContactNumberSSApplicationUser(modal)"
                >Save</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-template>
<!-- ************** popup  - end ************ -->
<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<ng-template #updateContactNoSSApplicationUserPopup let-modal>
  <div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
      <h2 id="update-contact-no-ss-application-user-modal-title">Update</h2>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div
      class="modal-body"
      id="update-contact-no-ss-application-user-modal-body"
    >
      <section>
        <div class="container1">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="card-body">
                  <app-child-section-form
                    [childSectionRowFieldsCount]="1"
                    [pageComponentReference]="pageComponentReference"
                    [childSectionFields]="
                      updateContactNoSSApplicationUserSectionFields
                    "
                    [childSectionData]="
                      updateContactNoSSApplicationUserSectionData
                    "
                    [childSectionSelectOptionsData]="
                      updateContactNoSSApplicationUserSelectOptionsData
                    "
                    [childSectionSearchResponseListObject]="
                      updateContactNoSSApplicationUserSelectedLookupsDataListObj
                    "
                  ></app-child-section-form>
                </div>
              </div>
            </div>
          </div>
          <div class="align-items-center mb-2 gap-3">
            <div class="m-auto mt-3" style="float: right">
              <a
                href="javascript:;"
                class="btn radius-30 mt-2 mt-lg-0"
                (click)="modal.dismiss()"
                >Cancel</a
              >
              <a
                style="float: right"
                href="javascript:;"
                class="btn btn-success pull-right m-l-20"
                (click)="updateContactNoSSApplicationUser(modal)"
                >Save</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-template>
<!-- ************** popup  - end ************ -->
<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<ng-template #updateEmailSSApplicationUserPopup let-modal>
  <div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
      <h2 id="update-email-ss-application-user-modal-title">Update</h2>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body" id="update-email-ss-application-user-modal-body">
      <section>
        <div class="container1">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="card-body">
                  <app-child-section-form
                    [childSectionRowFieldsCount]="1"
                    [pageComponentReference]="pageComponentReference"
                    [childSectionFields]="
                      updateEmailSSApplicationUserSectionFields
                    "
                    [childSectionData]="updateEmailSSApplicationUserSectionData"
                    [childSectionSelectOptionsData]="
                      updateEmailSSApplicationUserSelectOptionsData
                    "
                    [childSectionSearchResponseListObject]="
                      updateEmailSSApplicationUserSelectedLookupsDataListObj
                    "
                  ></app-child-section-form>
                </div>
              </div>
            </div>
          </div>
          <div class="align-items-center mb-2 gap-3">
            <div class="m-auto mt-3" style="float: right">
              <a
                href="javascript:;"
                class="btn radius-30 mt-2 mt-lg-0"
                (click)="modal.dismiss()"
                >Cancel</a
              >
              <a
                style="float: right"
                href="javascript:;"
                class="btn btn-success pull-right m-l-20"
                (click)="updateEmailSSApplicationUser(modal)"
                >Save</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-template>
<!-- ************** popup  - end ************ -->
<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<ng-template #updatePasswordSSApplicationUserPopup let-modal>
  <div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
      <h2 id="update-password-ss-application-user-modal-title">Update</h2>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body" id="update-password-ss-application-user-modal-body">
      <section>
        <div class="container1">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="card-body">
                  <app-child-section-form
                    [childSectionRowFieldsCount]="1"
                    [pageComponentReference]="pageComponentReference"
                    [childSectionFields]="
                      updatePasswordSSApplicationUserSectionFields
                    "
                    [childSectionData]="
                      updatePasswordSSApplicationUserSectionData
                    "
                    [childSectionSelectOptionsData]="
                      updatePasswordSSApplicationUserSelectOptionsData
                    "
                    [childSectionSearchResponseListObject]="
                      updatePasswordSSApplicationUserSelectedLookupsDataListObj
                    "
                  ></app-child-section-form>
                </div>
              </div>
            </div>
          </div>
          <div class="align-items-center mb-2 gap-3">
            <div class="m-auto mt-3" style="float: right">
              <a
                href="javascript:;"
                class="btn radius-30 mt-2 mt-lg-0"
                (click)="modal.dismiss()"
                >Cancel</a
              >
              <a
                style="float: right"
                href="javascript:;"
                class="btn btn-success pull-right m-l-20"
                (click)="updatePasswordSSApplicationUser(modal)"
                >Save</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-template>
<!-- ************** popup  - end ************ -->
<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<ng-template #validateLoginDetailsPopup let-modal>
  <div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
      <h2 id="validate-login-details-modal-title">Update</h2>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body" id="validate-login-details-modal-body">
      <section>
        <div class="container1">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="card-body">
                  <app-child-section-form
                    [childSectionRowFieldsCount]="1"
                    [pageComponentReference]="pageComponentReference"
                    [childSectionFields]="validateLoginDetailsSectionFields"
                    [childSectionData]="validateLoginDetailsSectionData"
                    [childSectionSelectOptionsData]="
                      validateLoginDetailsSelectOptionsData
                    "
                    [childSectionSearchResponseListObject]="
                      validateLoginDetailsSelectedLookupsDataListObj
                    "
                  ></app-child-section-form>
                </div>
              </div>
            </div>
          </div>
          <div class="align-items-center mb-2 gap-3">
            <div class="m-auto mt-3" style="float: right">
              <a
                href="javascript:;"
                class="btn radius-30 mt-2 mt-lg-0"
                (click)="modal.dismiss()"
                >Cancel</a
              >
              <a
                style="float: right"
                href="javascript:;"
                class="btn btn-success pull-right m-l-20"
                (click)="validateLoginDetails(modal)"
                >Save</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-template>
<!-- ************** popup  - end ************ -->
<!--BEGIN SEARCH POPUPS-->

<!--END SEARCH POPUPS-->
