<section>
    <div class="container1 dashboard-inner-pages">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <!--User Actions - Start-->
                        <div ngbDropdown class="d-inline-block" style="float:right;"  *ngIf="showUserActions()">
                            <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>
                                Actions
                            </button>
                            <div ngbDropdownMenu >
                                <button ngbDropdownItem *ngIf="isUpdatePasswordForFacultyEnabled && doesUserHaveAccess('UpdatePasswordForFaculty')"  (click)="openUpdatePasswordForFacultyPopup(updatePasswordForFacultyPopup)">
                                    Update Password
                                </button>
                                <button ngbDropdownItem *ngIf="isUpdateEmailIdForFacultyEnabled && doesUserHaveAccess('UpdateEmailIdForFaculty')"  (click)="openUpdateEmailIdForFacultyPopup(updateEmailIdForFacultyPopup)">
                                    Update Email
                                </button>
                                <button ngbDropdownItem *ngIf="isUpdateContactNoForFacultyEnabled && doesUserHaveAccess('UpdateContactNoForFaculty')"  (click)="openUpdateContactNoForFacultyPopup(updateContactNoForFacultyPopup)">
                                    Update Contact
                                </button>
                                <button ngbDropdownItem *ngIf="isUpdateProfileDetailsForFacultyEnabled && doesUserHaveAccess('UpdateProfileDetailsForFaculty')"  (click)="openUpdateProfileDetailsForFacultyPopup(updateProfileDetailsForFacultyPopup)">
                                    Update Profile
                                </button>
                                <button ngbDropdownItem *ngIf="isUpdateFacultyFirstNameEnabled && doesUserHaveAccess('UpdateFacultyFirstName')"  (click)="openUpdateFacultyFirstNamePopup(updateFacultyFirstNamePopup)">
                                    Update Faculty First Name
                                </button>
                                <button ngbDropdownItem *ngIf="isUpdateSelfServiceAccessForFacultyEnabled && doesUserHaveAccess('UpdateSelfServiceAccessForFaculty')"  (click)="openUpdateSelfServiceAccessForFacultyPopup(updateSelfServiceAccessForFacultyPopup)">
                                    Update Access
                                </button>
                                <ng-container *ngFor="let userAction of userActions">
                                    <button ngbDropdownItem   (click)="executeUserAction(userAction.actionName)">
                                        {{userAction.actionLabel}}
                                    </button>
                                </ng-container>
                            </div>
                        </div>
                        <!--User Actions - End-->

                    </div>
                </div>
            </div>

            <!--BEGIN SECTIONS-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="sectionsShowHideInfo.enableRetrieveFacultySection">
                <div class="card">
                    <div class="card-body">
                        <h2>Faculty</h2>
                        <ng-container *ngFor="let pageField of retrieveFacultyFieldList">
                            <div class="row {{ pageField.displayClassName }}">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="invoicelist-inner">
                                        <label class="form-label"><b>{{ pageField.label }}</b></label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="invoicelist-inner">
                                        <app-dynamic-field-display [pageField]="pageField" [dataObject]="retrievedDataObject"></app-dynamic-field-display>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!--END SECTIONS-->
            <!--BEGIN LINE_ITEMS-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <!--END LINE_ITEMS-->



        </div>
        <div style="display: flex;justify-content: space-between;gap: 8px;">
            <button style="margin-right: 0px;padding-bottom: 0px;" *ngIf="doesUserHaveAccess('UpdateFaculty')" [routerLink]="['/in/update-faculty']" [queryParams]="{id: selectedFacultyUUID}"  class="btn btn-success pull-right m-l-20"><i class="bi bi-pencil-square"></i> Edit</button>
            <button style="margin-left: 0px;" *ngIf="doesUserHaveAccess('RetrieveFacultyList')" [routerLink]="['/in/faculty-list']" class="btn btn-secondary m-l-20 back-btn">Back To List Page</button>
        </div>
    </div>
</section>


<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<ng-template #updatePasswordForFacultyPopup let-modal>
<div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
        <h2 id="update-password-for-faculty-modal-title">
            Update Password
        </h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" id="update-password-for-faculty-modal-body">
        <section>
            <div class="container1">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <app-child-section-form [childSectionRowFieldsCount]="1"  [pageComponentReference]="pageComponentReference" [childSectionFields]="updatePasswordForFacultySectionFields" [childSectionData]="updatePasswordForFacultySectionData" [childSectionSelectOptionsData]="updatePasswordForFacultySelectOptionsData"  [childSectionSearchResponseListObject]="updatePasswordForFacultySelectedLookupsDataListObj"></app-child-section-form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-items-center mb-2 gap-3">
                    <div class="m-auto mt-3"  style="float:right;">
                        <a href="javascript:;"
                           class="btn radius-30 mt-2 mt-lg-0" (click)="modal.dismiss()">Cancel</a>
                        <a style="float:right;" href="javascript:;"
                           class="btn btn-success pull-right m-l-20" (click)="updatePasswordForFaculty(modal)">Save</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</ng-template>
<!-- ************** popup  - end ************ -->
<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<ng-template #updateEmailIdForFacultyPopup let-modal>
<div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
        <h2 id="update-email-id-for-faculty-modal-title">
            Update Email
        </h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" id="update-email-id-for-faculty-modal-body">
        <section>
            <div class="container1">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <app-child-section-form [childSectionRowFieldsCount]="1"  [pageComponentReference]="pageComponentReference" [childSectionFields]="updateEmailIdForFacultySectionFields" [childSectionData]="updateEmailIdForFacultySectionData" [childSectionSelectOptionsData]="updateEmailIdForFacultySelectOptionsData"  [childSectionSearchResponseListObject]="updateEmailIdForFacultySelectedLookupsDataListObj"></app-child-section-form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-items-center mb-2 gap-3">
                    <div class="m-auto mt-3"  style="float:right;">
                        <a href="javascript:;"
                           class="btn radius-30 mt-2 mt-lg-0" (click)="modal.dismiss()">Cancel</a>
                        <a style="float:right;" href="javascript:;"
                           class="btn btn-success pull-right m-l-20" (click)="updateEmailIdForFaculty(modal)">Save</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</ng-template>
<!-- ************** popup  - end ************ -->
<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<ng-template #updateContactNoForFacultyPopup let-modal>
<div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
        <h2 id="update-contact-no-for-faculty-modal-title">
            Update Contact
        </h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" id="update-contact-no-for-faculty-modal-body">
        <section>
            <div class="container1">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <app-child-section-form [childSectionRowFieldsCount]="1"  [pageComponentReference]="pageComponentReference" [childSectionFields]="updateContactNoForFacultySectionFields" [childSectionData]="updateContactNoForFacultySectionData" [childSectionSelectOptionsData]="updateContactNoForFacultySelectOptionsData"  [childSectionSearchResponseListObject]="updateContactNoForFacultySelectedLookupsDataListObj"></app-child-section-form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-items-center mb-2 gap-3">
                    <div class="m-auto mt-3"  style="float:right;">
                        <a href="javascript:;"
                           class="btn radius-30 mt-2 mt-lg-0" (click)="modal.dismiss()">Cancel</a>
                        <a style="float:right;" href="javascript:;"
                           class="btn btn-success pull-right m-l-20" (click)="updateContactNoForFaculty(modal)">Save</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</ng-template>
<!-- ************** popup  - end ************ -->
<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<ng-template #updateProfileDetailsForFacultyPopup let-modal>
<div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
        <h2 id="update-profile-details-for-faculty-modal-title">
            Update Profile
        </h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" id="update-profile-details-for-faculty-modal-body">
        <section>
            <div class="container1">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <app-child-section-form [childSectionRowFieldsCount]="1"  [pageComponentReference]="pageComponentReference" [childSectionFields]="updateProfileDetailsForFacultySectionFields" [childSectionData]="updateProfileDetailsForFacultySectionData" [childSectionSelectOptionsData]="updateProfileDetailsForFacultySelectOptionsData"  [childSectionSearchResponseListObject]="updateProfileDetailsForFacultySelectedLookupsDataListObj"></app-child-section-form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-items-center mb-2 gap-3">
                    <div class="m-auto mt-3"  style="float:right;">
                        <a href="javascript:;"
                           class="btn radius-30 mt-2 mt-lg-0" (click)="modal.dismiss()">Cancel</a>
                        <a style="float:right;" href="javascript:;"
                           class="btn btn-success pull-right m-l-20" (click)="updateProfileDetailsForFaculty(modal)">Save</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</ng-template>
<!-- ************** popup  - end ************ -->
<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<ng-template #updateFacultyFirstNamePopup let-modal>
<div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
        <h2 id="update-faculty-first-name-modal-title">
            Update Faculty First Name
        </h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" id="update-faculty-first-name-modal-body">
        <section>
            <div class="container1">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <app-child-section-form [childSectionRowFieldsCount]="1"  [pageComponentReference]="pageComponentReference" [childSectionFields]="updateFacultyFirstNameSectionFields" [childSectionData]="updateFacultyFirstNameSectionData" [childSectionSelectOptionsData]="updateFacultyFirstNameSelectOptionsData"  [childSectionSearchResponseListObject]="updateFacultyFirstNameSelectedLookupsDataListObj"></app-child-section-form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-items-center mb-2 gap-3">
                    <div class="m-auto mt-3"  style="float:right;">
                        <a href="javascript:;"
                           class="btn radius-30 mt-2 mt-lg-0" (click)="modal.dismiss()">Cancel</a>
                        <a style="float:right;" href="javascript:;"
                           class="btn btn-success pull-right m-l-20" (click)="updateFacultyFirstName(modal)">Save</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</ng-template>
<!-- ************** popup  - end ************ -->
<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<!-- ************** popup  - end ************ -->
<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<ng-template #updateSelfServiceAccessForFacultyPopup let-modal>
<div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
        <h2 id="update-self-service-access-for-faculty-modal-title">
            Update Access
        </h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" id="update-self-service-access-for-faculty-modal-body">
        <section>
            <div class="container1">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <app-child-section-form [childSectionRowFieldsCount]="1"  [pageComponentReference]="pageComponentReference" [childSectionFields]="updateSelfServiceAccessForFacultySectionFields" [childSectionData]="updateSelfServiceAccessForFacultySectionData" [childSectionSelectOptionsData]="updateSelfServiceAccessForFacultySelectOptionsData"  [childSectionSearchResponseListObject]="updateSelfServiceAccessForFacultySelectedLookupsDataListObj"></app-child-section-form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-items-center mb-2 gap-3">
                    <div class="m-auto mt-3"  style="float:right;">
                        <a href="javascript:;"
                           class="btn radius-30 mt-2 mt-lg-0" (click)="modal.dismiss()">Cancel</a>
                        <a style="float:right;" href="javascript:;"
                           class="btn btn-success pull-right m-l-20" (click)="updateSelfServiceAccessForFaculty(modal)">Save</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</ng-template>
<!-- ************** popup  - end ************ -->
<!--BEGIN SEARCH POPUPS-->

<!--END SEARCH POPUPS-->
