<!-- Main Title Start -->
<section class="mainTitle2 profile mb-3">
  <div class="container">
    <div class="row">
      <div class="card rounded-4 mb-0">
        <div class="card-body" style="position: relative">
          <div class="col-sm-12" style="text-align: center">
            <h3>
              Welcome to <span style="color: #1e427e">School</span> solutions !!
            </h3>
          </div>
          <div class="col-sm-12" style="text-align: center">
            <div class="welcome-page-text">
              <h4>
                HTS School solutions help is digitising the day-to-day
                operations of various enterprises and businesses thereby helping
                them stay efficient and focus on their core business operations.
              </h4>

              <p>
                We shall soon be adding more features for MIS reporting and
                other modules.
              </p>
              <p class="contact-mail">
                For any queries, contact us
                <a href="mailto:info@harivaratechsol.com"
                  >info&#64;harivaratechsol.com</a
                >.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<!-- Main Title End -->
