<section>
    <div class="container1 dashboard-inner-pages">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <!--User Actions - Start-->
                        <div ngbDropdown class="d-inline-block" style="float:right;"  *ngIf="showUserActions()">
                            <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>
                                Actions
                            </button>
                            <div ngbDropdownMenu >
                                <ng-container *ngFor="let userAction of userActions">
                                    <button ngbDropdownItem   (click)="executeUserAction(userAction.actionName)">
                                        {{userAction.actionLabel}}
                                    </button>
                                </ng-container>
                            </div>
                        </div>
                        <!--User Actions - End-->

                    </div>
                </div>
            </div>

            <!--BEGIN SECTIONS-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="sectionsShowHideInfo.enableRetrieveAssetSection">
                <div class="card">
                    <div class="card-body">
                        <h2>Asset</h2>
                        <ng-container *ngFor="let pageField of retrieveAssetFieldList">
                            <div class="row {{ pageField.displayClassName }}">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="invoicelist-inner">
                                        <label class="form-label"><b>{{ pageField.label }}</b></label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="invoicelist-inner">
                                        <app-dynamic-field-display [pageField]="pageField" [dataObject]="retrievedDataObject"></app-dynamic-field-display>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!--END SECTIONS-->
            <!--BEGIN LINE_ITEMS-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div *ngIf="lineItemsSectionsShowHideInfo.enableRetrieveAssetComponentListSection">
                            <div class="d-lg-flex align-items-center mb-2 gap-3">
                                <div style="float: left;">
                                    <h2>Asset Component List</h2>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive mt-3"  *ngIf="lineItemsSectionsShowHideInfo.enableRetrieveAssetComponentListSection">
                            <table class="table mb-0">
                                <thead class="table-light">
                                <tr>
                                    <ng-container *ngFor="let retrieveAssetComponentListTableColumn of retrieveAssetComponentListTableColumns">
                                        <th class="{{ retrieveAssetComponentListTableColumn.displayClassName }}">{{ retrieveAssetComponentListTableColumn.label }}</th>
                                    </ng-container>
                                    <th *ngIf="doesUserHaveAccess('RetrieveComponentSpareList')">Component Spare List</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let resultObject of retrieveAssetComponentListResultObjectsList">
                                    <ng-container *ngFor="let retrieveAssetComponentListTableColumn of retrieveAssetComponentListTableColumns">
                                        <td class="{{ retrieveAssetComponentListTableColumn.displayClassName }}">
                                            <app-dynamic-field-display [pageField]="retrieveAssetComponentListTableColumn" [dataObject]="resultObject"></app-dynamic-field-display>
                                        </td>
                                    </ng-container>
                                    <td *ngIf="doesUserHaveAccess('RetrieveComponentSpareList')">
                                        <a href="javascript:void(0);" (click)="showRetrieveComponentSpareListPopup(retrieveComponentSpareListPopup, resultObject.assetComponentUUID)">Manage Component Spare List</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <!--END LINE_ITEMS-->



        </div>
        <div style="display: flex;justify-content: space-between;gap: 8px;">
            <button style="margin-right: 0px;padding-bottom: 0px;" *ngIf="doesUserHaveAccess('UpdateAsset')" [routerLink]="['/in/update-asset']" [queryParams]="{id: selectedAssetUUID}"  class="btn btn-success pull-right m-l-20"><i class="bi bi-pencil-square"></i> Edit</button>
            <button style="margin-left: 0px;" *ngIf="doesUserHaveAccess('RetrieveAssetList')" [routerLink]="['/in/asset-list']" class="btn btn-secondary m-l-20 back-btn">Back To List Page</button>
        </div>
    </div>
</section>


<!-- ************** Popup - start ********** -->
<!-- Button trigger modal -->

<!-- ************** popup  - end ************ -->
<!-- ************** Popup - start ********** -->
<ng-template #retrieveComponentSpareListPopup let-modal>
<div class="dashboard-inner-pages dashboard-inner-pages-modal">
    <div class="modal-header">
        <h2>Component Spare List</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    <div class="modal-body">
        <section>
            <div class="container1">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-body">
                                <!--BEGIN Component Spare TABLE-->
                                <div class="table-responsive mt-3">
                                    <table class="table mb-0">
                                        <thead class="table-light">
                                        <tr>
                                            <ng-container *ngFor="let retrieveComponentSpareListTableColumn of retrieveComponentSpareListTableColumns">
                                                <th class="{{ retrieveComponentSpareListTableColumn.displayClassName }}">{{ retrieveComponentSpareListTableColumn.label }}</th>
                                            </ng-container>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let resultObject of retrieveComponentSpareListResultObjectsList; let rowIndex = index">
                                            <ng-container *ngFor="let retrieveComponentSpareListTableColumn of retrieveComponentSpareListTableColumns">
                                                <td class="{{ retrieveComponentSpareListTableColumn.displayClassName }}">
                                                    <app-dynamic-field-display [pageField]="retrieveComponentSpareListTableColumn" [dataObject]="resultObject"></app-dynamic-field-display>
                                                </td>
                                            </ng-container>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</ng-template>
<!-- ************** Popup - end ********** -->
<!--BEGIN SEARCH POPUPS-->

<!--END SEARCH POPUPS-->
